$phone: "(max-width: 450px)";
$tabletSmallScreen: "(min-width: 450px) and (max-width: 750px)";
$tabletBigSreen: "(min-width: 750px) and (max-width: 1050px)";
$phoneLandscapeand: "(min-width: 300px) and (max-width: 799px) and (orientation: landscape)";
$desktop: "(min-width: 1170px)";
$galerymedia:"(max-width:600px)";
$bigScreen:"(max-width:800px)";
$desktopScreen:"(max-width:1000px)";